<body class="home">
    <div class="list">
      <div *ngFor="let todo of todos"  class="todo-item">
        <p class="{{todo.completed? 'complete' : 'incomplete'}}">{{todo.completed == true ? 'DONE' : 'INCOMPLETE'}}</p>
        <!-- <p *ngIf="todo.completed; else incomplete" class = "complete">DONE </p> -->
        <!-- <ng-template #incomplete class="incomplete">Incomplete </ng-template> -->
        <p class="id">Task {{ todo.id }}</p>
        <p>Title {{ todo.title }}</p>
        <p>User {{ todo.userId }}</p>
      </div>
    </div>
  </body>
  